<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Mad Libs</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <div class="container">
      <h1>A fantastical adventure</h1>
      <p>One day, @Model.GetPerson1() and @Model.GetPerson2() were walking through the woods,</p>
      <p>when suddenly a giant @Model.GetAnimal() appeared. "@Model.GetExclamation()!" @Model.GetPerson1() cried.</p>
      <p>Then @Model.GetPerson2() shouted, "@Model.GetExclamation2()!"</p>
      <p>Then, unbelievably, the @Model.GetAnimal() shouted "@Model.GetExclamation2()" right back at them!</p>
      <p>The two of them @Model.GetVerb() as quickly as possible, and when they were safe, @Model.GetPerson1()</p>
      <p>and @Model.GetPerson2() gave each other a giant @Model.GetNoun() (that they stole from the @Model.GetAnimal()),</p>
      <p>as @Model.GetMusic() played in the background.</p>
    </div>
  </body>
</html>
